@import url('https://fonts.googleapis.com/css?family=Questrial');
body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: 'Questrial', sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
  /*background-image: url(img/mac.png);
  background-size: 100% 1300px;
  background-repeat: no-repeat;
  background-position: center;
  height: auto%;*/
  line-height: 50px;
  background-color: black;
  }
h4{
  font-size: 30px;
  color: white;
}


/*star*/

/*.wrapper{
  text-align: center;
  padding-bottom: 2em;
}
.button{
  text-align: center;
}

.button:focus{
outline: none;
}*/
.button{
  background: none;
  color: pink;
  line-height: 50px;
  width: 170px;
  /*border-radius: 2px solid #31bdde;*/
  font-size: 18px;
  border-radius: 4px;
  transition: .6s;
  overflow: hidden;
  text-align: center;
}


/*.button:before{
  content:'';
  display: block;
  background: rgba(255,255,255,.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: .5s;
  filter: blur(30px);
  transform: translateX(-130px) scaleX(-15deg);
  text-align: center;
}

button:after{
  content:'';
  display: block;
  background: rgba(155,155,155,.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translateX(-100px) scaleX(-15deg);
  text-align: center;
}*/

.button:hover{
  background: #9200AB;
  cursor: pointer;
  position: center;
}

/*.button:hover:after {
  transform: translateX(300px) skewX(-15deg);
  opacity: .6;
  transition: .7s;
  position: center;
}*/


/* walking bananna */
.pagetwo{
  background: none;
  color: yellow;
  line-height: 50px;
  width: 170px;
  border-radius: 2px solid #FF0000;
  font-size: 18px;
  border-radius: 4px;
  transition: .6s;
  overflow: hidden;
  text-align: center;
}
.pagetwo:hover{
  background: #E8BA5A;
  cursor: pointer;
  position: center;
}

/*snow*/
.pagethree{
  background: none;
  color: white;
  line-height: 50px;
  width: 170px;
  border-radius: 1px solid #FF0000;
  font-size: 18px;
  border-radius: 4px;
  transition: .6s;
  overflow: hidden;
  text-align: center;
}
.pagethree:hover{
  background: #B5E4FF;
  cursor: pointer;
  position: center;
}

/*travel outerspace*/
.pagefour{
  background: none;
  color: #FF4F31;
  line-height: 50px;
  width: 170px;
  border-radius: 2px solid #FF0000;
  font-size: 18px;
  border-radius: 4px;
  transition: .6s;
  overflow: hidden;
  text-align: center;
}
.pagefour:hover{
  background: #FF8C6A;
  cursor: pointer;
  position: center;
}

/*jellyfish*/
.pagefive{
  background: none;
  color: #0FE4F0;
  line-height: 50px;
  width: 170px;
  border-radius: 1px solid #FF0000;
  font-size: 18px;
  border-radius: 4px;
  transition: .6s;
  overflow: hidden;
  text-align: center;
}
.pagefive:hover{
  background: #86E88E;
  cursor: pointer;
  position: center;
}

/*colorflash*/
.pageseven{
  background: none;
  color: #41E889;
  line-height: 50px;
  width: 170px;
  border-radius: 1px solid #FF0000;
  font-size: 18px;
  border-radius: 4px;
  transition: .6s;
  overflow: hidden;
  text-align: center;
}
.pageseven:hover{
  background: #0D1AE8;
  cursor: pointer;
  position: center;
}
