@import url('https://fonts.googleapis.com/css?family=Questrial');
body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: 'Questrial', sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
  background-color: black;
}

h1 {
  padding: 20px 0px 10px 0px;
}



a {
color: #FFA06A;
text-decoration: none;
}

/*button moving photo*/


button{
  backfround: none;
  color: #ccc;
  width: 240px;
  height: 80px;
  border: 1px solid #338033;
  font-size: 18px;
  border-radius: 4px;
  transition: .6s;
  overflow: hidden;
}

button:focus{
outline:none;
}

button:before{
  content:'';
  display: block;
  background: rgba(255,255,255,.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: .5s;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}

button:after{
  content:'';
  display: block;
  background: rgba(255,255,255,.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translateX(-100px) skewX(-15deg);
}

button:hover{
  background:
}


/* centers images */



/* page three */
.container{
  top: 0;
  /*background-color: black;*/
  /*background: url(img/try.jpg)no-repeat fixed;*/
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
left: 0;
}
